.btn {
    background-color: #1090CB !important;
    color: white;
}

.blue {
    color: #1090CB !important;
}

.btn-view {
    background-color: white;
    color: #1090CB;
    outline: none !important;
    border-radius: 5px;

    height: 50px;
    font-weight: bold;

}

.own {
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
}

.own h1 {
    margin-bottom: 20px;
}

img .custom {
    width: 700px !important;
    height: 600px !important;
}

.card-one {
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 500px;
    height: 400px;

}

.card-two {
    display: flex;
    justify-content: center;
    background-color: #1090CB;
    border-radius: 10px;
    padding: 20px 20px;
    width: 500px;
    height: 400px;

}

.icons <img {
    justify-content: space-between;
}

.last {
    background-color: #E8F4FA;
    height: 400px;

}

.btn-new {
    background-color: white;
    color: #1090CB;
    outline: none !important;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-weight: bold;
}

.btn-type {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.center {
    padding: 20px 20px;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    font-size: 30px;
}

.fox {
    margin-top: 30px;
    align-content: left;
}

.fox img {
    margin-left: 25px;
    margin-top: 20px;
}

.fox h6 {
    margin-left: 10px;
}

.bux {
    margin-bottom: 10px;
    padding-left: 60px;
    color: #515151;
}

.dux {
    margin-bottom: 10px;
    padding-left: 70px;
    color: #515151;
}

.tux {
    padding-left: 20px;
    padding-top: 90px;
}